{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/presentation.css') }}" >
{% endblock %}

{% block body %}
    {{ parent() }}
    <header>
        <h1>Raccoon traveler</h1>
        <h2>Récits, itinéraires, photographies et autres invitations au Voyage...</h2>
        <div class="buttonScroll"><i class="fa fa-arrow-circle-down scroll" aria-hidden="true"></i></div>
    </header>
    <div class="to-scroll"></div>
    <div class="container">
        <div class="last-news">
            <h3 class="text-center">Derniers articles</h3>
            <hr class="black-line">
            <div class="margin-top-lg">
                {% for articlelast in articlelasts %}
                    <img src="{{ asset('upload/' ~ articlelast.imgPresentation) }}" class="mx-auto d-block img-article-lg">
                    <div class="col-lg-12 margin-top-md">
                        <div>{{ articlelast.name }}</div>
                        <div>{{ articlelast.content | truncate(400, true, '...') }} lire la suite</div>
                        <div>{{ articlelast.date|date('d/m/Y') }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="row margin-top-md">
                {% for lastTenArticle in articleslasttens%}
                    <div class="col-lg-4">
                        <div class="thumbnails margin-top-md">
                            <img src="{{ asset('upload/' ~ lastTenArticle.imgPresentation) }}" class="img-article">
                            <div class="text-thumbnails">
                                <h4>{{ lastTenArticle.name }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="presentation margin-top-lg">
            <div class="row">
                <div class="col-lg-6">
                    <p class="margin-top-md">
                        Hic et ea et. Ut voluptate reprehenderit inventore consequuntur atque. Doloremque velit neque assumenda excepturi veniam. Iste est a nostrum ut.<br/>
                        Hic amet qui veritatis autem sequi nam rerum sit. Praesentium qui dolor dolorem quis ut. Nihil et fugiat vel sunt maiores mollitia et.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="https://www.sessions.edu/wp-content/uploads/1-PJgt-UmbqBXXGiDBL1KG0A.jpeg" class="img-presentation margin-top-md">
                </div>
            </div>
        </div>
    </div>

{% endblock %}


